#showingContainer {
  margin-bottom: 15px;
}

#showArea {
  margin-left: 20px;
  margin-bottom: 10px;
}
  
.normalButton {
  background-color: #6699cc;
  padding: 8px;
  border-radius: 5px;
  margin-left: 20px;
  width: 200px;
}

.dynamic-form-container {
  display: flex;
}