html {
    height: 100%;
}

body {
    height: 100%;
    background-color: lighten(#6699cc, 35%);
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.headline {
    color: #444444;
    margin-left: 20px;
    margin-top: 20px;
}

.margin20 {
    margin-left: 20px;
}

.asterisk-required {
    color:red; 
    font-size:80%;
}